<div class="edit_form">
  <legend style="color: #97240a; font-size: 24px;">Редактирование</legend>

  <div class="edit">

<%= render 'form', teaching_material: @teaching_material %>

<%= link_to 'Показать', @teaching_material %> |
<%= link_to 'Назад', :back %>
  </div>
</div>