<div class="edit_form">
    <legend style="color: #97240a; font-size: 24px;">Новая группа</legend>

    <div class="edit">


<%= render 'form', group: @group %>

<%= link_to 'Назад', :back %>

  </div>
</div>