<div class="edit_form">
  <legend style="color: #97240a; font-size: 24px;">Изменение специальности</legend>

  <div class="edit">

<%= render 'form', specialty: @specialty %>

<%= link_to 'Показать', @specialty %> |
<%= link_to 'Назад', specialties_path %>
</div>
</div>